.left-align {
  text-align: left;
}

.right-align {
  text-align: right;
}

.center {
  text-align: center;
}

body {
  background-color: #659525;
}

div.nav-bar {
  position: relative;
  background-color: #ffffff;
  margin-top: -2.53em;
  width: 100%;
}

p.nav-text {
  color: #659525;
  font-size: 2.55em;
}

a.nav-link {
  text-decoration: none;
  color: #659525;
}

a:link.nav-link {
}

a:visited.nav-link {
}

a:hover.nav-link {
}

a:active.nav-link {
}


