<div class='nav-bar'>
  <span class='nav-links'>
    <p class='nav-text'>
      <span class='left-align'>
        &nbsp; &nbsp;| status :
        <a href='/' class='nav-link'>
          &nbsp; | username
        </a>
      </span>
      <span class ='right-align'>
        <a href='/' class='nav-link'> | Link 1 | </a>
        <a href='/' class='nav-link'> Link 2 | </a>
      </span>
    <span class='nav-divider'></span:>
    <br>
    <p class='nav-text'> &nbsp; &nbsp;| status :
      <a class='nav-link' href=''> &nbsp; | username  </a>
    </p>
  </span>
</div>


<!-- MICHELE'S CODE BELOW -->

<div class='left-nav-take'>
  <h2>Take A Survey</h2>
    <ul class='avail-surveys'>
      <li>Survey 1</li>
        <li>Survey 2</li>
    </ul>
  </h2>
</div>

<div class='left-nav-created'>
  <h2>Your Surveys' Results</h2>
    <ul class='avail-surveys'>
      <li>Survey 1</li>
        <li>Survey 2</li>
    </ul>
  </h2>
</div>
