<div class='nav-bar'>
  <span class='nav-links'>
    <span class='nav-divider'></span:>
      <br>
      <p class='nav-text'> &nbsp; &nbsp;| status :
        <a class='nav-link' href=''> &nbsp; | username  </a>
      </p>
    </span>
  </div>


  <!-- MICHELE'S CODE BELOW -->

  <div class='broccoli'>
    <h1>broccoli.</h1>
  </div>

  <div class='left-nav'>
    <h4 id='avail-surveys'>Take A Survey</h4>
    <!-- <div> -->
      <div class='survey-content1'>Survey 1</div>
        <!-- <p>Blah Blah Blah</p> -->
      <div class='survey-content1'>Survey 2</div>
        <!-- <p>Blah Blah Blah</p> -->
    <!-- </div> -->

    <h4  id='your-surveys'>Your Survey Results</h4>
    <div>
      <div class='survey-content2'>Survey 1</div>
        <!-- <p>Blah Blah Blah</p> -->
      <div class='survey-content2'>Survey 2</div>
        <!-- <p>Blah Blah Blah</p> -->
    </div>
  </div>

<!-- <div class='left-nav-created'>
  <h4>Your Surveys' Results</h>
    <ul class='avail-surveys'>
      <li>Survey 1</li>
        <li>Survey 2</li>
    </ul>
</div> -->