<div class='nav-bar'>
  <span class='nav-links'>
    <p class='nav-text'>
      <span class='left-align'>
        &nbsp; &nbsp;| status :
        <a href='/' class='nav-link'>
          &nbsp; | username
        </a>
      </span>
      <span class ='right-align'>
        <a href='/' class='nav-link'> | Link 1 | </a>
        <a href='/' class='nav-link'> Link 2 | </a>
      </span>
    </p>
  </span>
</div>

