<div class='nav-bar'>
  <p><b> 
   <span class='left-align'>&nbsp;| status :</span>
   <a href='/' class='left-align'> &nbsp; | username |</a>
   <a href='/' class='right-align'> &nbsp; Link 2 | </a>
   <a href='/' class='right-align'> | Link 1 | </a>

 </b></p>
</div>

<div class='broccoli'>
  <h1>broccoli.</h1>
</div>


<div class='left-nav'>
  <h4  id='avail-surveys'>Take A Survey</h4>
  <div class='survey-content1'>Survey 1 </div>
  <div class='survey-content1'>Survey 2</div>
  <h4  id='your-surveys'>Results</h4>
  <div class='survey-content2'>Survey 1</div>
  <div class='survey-content2'>Survey 2</div>
</div>
<div id='broc-div'>
  <img src="/images/broc-bg.png" class='broc-img'>
</div>
